{
    "presets": [
        [
            "es2015",
            { "modules": false }
        ],
        "react",
    ],
    "env": {
        "test": {
            "plugins": [
                "rewire-exports",
                "istanbul",
            ],
        },
    },
}
